{{#if overlay}}
  <div class="ember-basic-dropdown-overlay"></div>
{{/if}}
<div id={{dropdownId}} class="ember-basic-dropdown-content {{transitionClass}} {{dropdownClass}} {{verticalPositionClass}} {{horizontalPositionClass}}" dir={{dir}}>
  {{yield}}
</div>